* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  padding-top: 3%;
}

body {
  background-color: #000000;
}

header .menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: hsl(0, 0%, 8%);
  display: grid;
  align-content: center;
  border-bottom: solid 1px #C0C0C0;
}
header .menu div a {
  font-size: 20px;
  font-weight: 600;
}
header .menu div .logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

/*  FOOTER */
.piePagina {
  background-color: hsl(0, 0%, 8%);
  padding: 5px 2% 5px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.piePagina .logFter .log {
  width: 100px;
  height: auto;
  border-radius: 50%;
}
.piePagina .links {
  margin-right: 5%;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.piePagina .links .imagen {
  width: 40px;
  height: auto;
}
.piePagina .links .imagen:hover {
  transform: scale(1.5, 1.5);
  transition: 500ms;
}

main .seccionn {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .seccionn .carousel {
  border-radius: 20px;
}
main .seccionn .carousel .imgMotos {
  width: 100px;
  height: auto;
  border-radius: 20px;
}
main .seccionn .parrafo {
  display: flex;
}
main .seccionn .parrafo .nosotros {
  align-self: center;
  padding: 5%;
  color: white;
}
main .service {
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5%;
}
main .service a {
  text-decoration: none;
}
main .service a h2 {
  color: #FFC107;
}
main .service a h2:hover {
  text-decoration: dashed;
  color: white;
  transition: 1000ms;
}
main .primero {
  background-image: url(../img/Moto\ azul.png);
}
main .segundo {
  background-image: url(../img/moto\ naranja.png);
}
main .tercero {
  background-image: url(../img/moto\ cross.png);
}

.contacto {
  background-color: #F8F8F8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 400px;
}
.contacto .contactanos {
  margin: 50px;
}
.contacto .mapa {
  grid-column: 1/4;
  justify-self: center;
  width: 90%;
  height: 90%;
  margin-bottom: 10%;
}
.contacto .mapa .estiloMapa {
  width: 100%;
  height: 100%;
}

.quieneSomos .nosotros {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.quieneSomos .nosotros .imgNosotros {
  width: 30%;
  height: auto;
  margin: 5px;
  border-radius: 10px;
}
.quieneSomos .textUno {
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}
.quieneSomos .soy {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5%;
}
.quieneSomos .soy .card {
  padding-top: 0%;
  background-color: #2C2C2C;
  color: white;
}
.quieneSomos .soy .card .flex {
  display: flex;
}
.quieneSomos .soy .card .flex .imgCard {
  height: 300px;
  width: 400px;
  border-radius: 50%;
  margin-left: 3%;
}
.quieneSomos .soy .card .flex .cardBody {
  padding-bottom: 3%;
}
.quieneSomos .soy .card .flex .cardBody .textDos {
  justify-self: center;
  align-self: center;
  padding-right: 25%;
  padding-left: 10%;
  color: white;
}
.quieneSomos .soy .card a {
  margin-bottom: 0.1%;
}

.mainService {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  color: white;
}
.mainService .contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 400px;
}
.mainService .contenedor img {
  width: 100%;
  height: 200px;
  max-width: 250px;
  margin-bottom: 15px;
}
.mainService .contenedor ol {
  padding-left: 20px;
  text-align: left;
}
.mainService .contenedor ol li {
  margin-bottom: 5px;
}
.mainService .central {
  border-left: solid 1px rgba(255, 255, 255, 0.28);
  border-right: solid 1px rgba(255, 255, 255, 0.28);
}

.tituloComenarios {
  text-align: center;
  margin: 10% 20px 20px 20px;
  color: #C0C0C0;
}

.contenedorComentarios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  color: #C0C0C0;
}
.contenedorComentarios .opinion {
  background-color: hsl(0, 0%, 8%);
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
}
.contenedorComentarios .opinion h3 {
  margin-top: 0;
}
.contenedorComentarios .opinion p {
  font-style: italic;
}
.contenedorComentarios .opinion .author {
  text-align: right;
  font-weight: bold;
}

@media only screen and (max-width: 1199px) {
  .mainService .central {
    border-right: none;
  }
}
@media only screen and (max-width: 799px) {
  main .seccionn {
    display: flex;
    flex-direction: column;
  }
  .mainService .central {
    border-left: none;
  }
}
@media only screen and (max-width: 700px) {
  .contacto {
    display: flex;
    flex-direction: column;
  }
  .contacto .formulario {
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    padding: 4%;
  }
  .contacto .mapa {
    align-self: center;
  }
  .quieneSomos .nosotros {
    padding: 10% 10px 10px 10px;
  }
  .quieneSomos .soy .card .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quieneSomos .soy .card .flex .imgCard {
    height: 100% px;
    width: 60%;
  }
  .seccionn {
    display: flex;
    flex-direction: column;
  }
  .tituloComenarios {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 500px) {
  main .seccionn {
    margin-top: 10%;
  }
  .quieneSomos .nosotros {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }
  .quieneSomos .nosotros .imgNosotros {
    align-self: center;
    width: 250px;
    height: 200px;
    margin: none;
    border-radius: none;
  }
  .tituloComenarios {
    margin-top: 30%;
  }
  .contenedorComentarios {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=estilo.css.map */
