.tituloComenarios{
    text-align: center;
    margin: 10% 20px 20px 20px;
    color: $plata;
}
.contenedorComentarios {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    color:$plata ;
    .opinion {
        background-color:$oscuro;
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 20px;
        h3 {
            margin-top: 0;
        }
        p {
            font-style: italic;
        }
        .author {
            text-align: right;
            font-weight: bold;
        }
    }
}


