header{
    .menu{
        position:fixed;
        top: 0;
        width: 100%;
        z-index: 3;
        background-color:$oscuro;   
        display: grid;
        align-content: center;
        border-bottom: solid 1px $plata;
        div{

            
            a{
                
                font-size: 20px;
                font-weight: 600;
               
                
            }
            .logo{
                width: 100px;
                height: auto;
                border-radius: 50%;
             }
            

        } 
    }
}


/*  FOOTER */
.piePagina{
    background-color:hsl(0, 0%, 8%);
    padding:5px 2% 5px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logFter{
        .log{
            width: 100px;
            height: auto;
            border-radius: 50%;
        }

    }
    .links{
        margin-right: 5%;
        width: 30%;
        display: flex;
        justify-content: space-between;
        .imagen{
            width: 40px;
            height: auto;   
            &:hover{
                transform: scale(1.5,1.5);
                transition:500ms;
            }
        }
    }
    
    
  }